/* font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif; */

/* Color palette created with https://coolors.co/ */
:root {
  --gray: #808a9f;
  --mustard: #d1ac00;
  --white: #fffffa;
  --pink: #aa4465;
  --darkest: #191716;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--white);
  color: var(--darkest);
  margin: 0;
  line-height: 1.6;
}

main {
  background-image: url(../images/yellowbgimg-flowersbtm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8%;
  padding-bottom: 5%;
}

.header-name {
  font-size: 4em;
  font-family: "Are You Serious", cursive;
  color: var(--darkest);
  opacity: 80%;
}

/* Nav */

nav {
  height: 60px;
  width: 100%;
  background-color: #333;
  color: #eee;
  /* margin-bottom: 85px; */
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  text-align: center;
  font-size: 15px;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  color: #eee;
}

nav li:hover {
  background-color: var(--mustard);
  color: var(--gray);
}

nav a#openup {
  display: none;
}

.hero {
  background: linear-gradient(0.25turn, #d1ac00, #ebf8e1, #808a9f);
  transform: skewY(-1deg);
  transform-origin: top left;
  border-top: 3px solid black;
  border-bottom: 5px solid var(--mustard);
  height: 25vh;
}

/* Cursor by https://codepen.io/renatorib/pen/gBLDA

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.ball {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: 0.5;
}

@keyframes implode {
  100% {
    transform: scale(0);
  }
} */

#projects {
  background-color: #9b9b99;
}
.card {
  height: auto;
}
.card:hover {
  transform: scale(1.1);
}

.contact-title {
  font-size: 20px;
  border-right: 1px solid black;
}

#contact {
  height: 10vh;
  background-color: var(--mustard);
}

.contact-info {
  color: black;
}

.contact-info:hover {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.card-btn {
  border-radius: 22px;
  background: linear-gradient(45deg, #cac4a0, #f0e9be);
  color: black;
}

.card-btn:hover {
  color: black;
  opacity: 80%;
}

@media screen and (max-width: 1200px) {
  .card-btn {
    margin: 5px;
  }
}

@media screen and (max-width: 990px) {
  .three-cards {
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
    margin-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }

  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    zoom: 1;
  }

  #about-me {
    margin-top: 0;
  }
}
